/**--------------------------------
*
* 1.0 - General
* 2.0 - Typography
* 3.0 - Buttons
* 4.0 - Lists
* 5.0 - Header
* 6.0 - Home
* 7.0 - About
* 8.0 - Skills
* 9.0 - Work
**---------------------------------*/

/* 1.0 - General
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: 'lato', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'playfair', serif;
  font-weight: 900;
  margin: 0;
}

h4, h5, h6 {
  font-weight: 600;
}

img {
  width: 100%;
}

.ms-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  box-sizing: border-box;
}

.ms-block {
  padding: 50px 0;
}

@media screen and (max-width: 768px) {
  .ms-container {
    padding: 0 16px;
  }

  .ms-block {
    padding: 25px 0;
  }
}

/* 2.0 - Typography
  ========================================================================== */
@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'playfair';
  src: url('../fonts/PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'playfair';
  src: url('../fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #000;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\ea84";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-linkedin:before {
  content: "\eaca";
}

.ms__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .ms__title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 16px;
  }
}

/* 3.0 - Buttons
  ========================================================================== */
.ms-button {
  padding: 13px 24px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  transition: 0.25s ease-in-out;
}

.ms-button--light {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

@media screen and (min-width: 767px) {
  .ms-button:hover {
    background-color: transparent;
    color: #000;
  }
  
  .ms-button--light:hover {
    background-color: transparent;
    color: #fff;
  }
}

/* 4.0 - Lists
  ========================================================================== */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 5.0 - Header
  ========================================================================== */
.ms-h {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  padding: 20px;
}

.ms-h-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 6px 6px 6px 24px;
  background-color: #000;
  border-radius: 50px;
}

.ms-h-nav__menu-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.ms-h-nav__menu-link {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.ms-h-nav__menu-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  border-bottom: 2px solid #fff;
  transition: 0.15s ease-in-out;
}

.ms-h-nav__mobile-btn {
  display: none;
}

@media screen and (min-width: 767px) {
  .ms-h-nav__menu-link:hover::before {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .ms-h {
    padding: 16px;
  }

  .ms-h-container  {
    padding: 12px 20px;
    border-radius: 10px;
  }

  .ms-h-nav__menu {
    position: fixed;
    top: 50px;
    left: 16px;
    width: calc(100% - 32px);
    height: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    border-radius: 10px;
    padding: 0;
    transition: 0.10s ease-out;
  }

  .ms-h-nav__menu.active {
    top: 80px;
    height: auto;
    opacity: 1;
    visibility: visible;
    padding: 16px 0;
  }

  .ms-h-nav__menu-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .ms-h-nav__menu-item {
    width: 100%;
  }

  .ms-h-nav__menu-link {
    display: block;
    padding: 8px 16px;
    width: 100%;
  }
  
  .ms-h-contact {
    display: none;
  }

  .ms-h-nav__mobile-btn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .ms-h-nav__mobile-btn-line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.10s ease-in-out;
  }

  .ms-h-nav__mobile-btn.active .ms-h-nav__mobile-btn-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .ms-h-nav__mobile-btn.active .ms-h-nav__mobile-btn-line:nth-child(2) {
    opacity: 0;
  }

  .ms-h-nav__mobile-btn.active .ms-h-nav__mobile-btn-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}

/* 6.0 - Home
  ========================================================================== */
.ms-home {
  padding: 120px 0 50px;
}

.ms-home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.ms-home-img {
  max-width: 450px;
  width: 100%;
}

.ms-home-img img {
  height: 600px;
  border-radius: 10px;
  object-fit: cover;
}

.ms-home-cnt__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 10px;
}

.ms-home-cnt__text {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .ms-home {
    padding: 100px 0 25px;
  }

  .ms-home-container {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .ms-home-img {
    max-width: 100%;
  }

  .ms-home-img img {
    width: 100%;
    height: 300px;
  }
}

/* 7.0 - About
  ========================================================================== */
.ms-about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.ms-about-cnt {
  max-width: calc(100% - 400px);
  width: 100%;
}

.ms-about-cnt__text {
  font-size: 18px;
  line-height: 28px;
}

.ms-about-img {
  max-width: 400px;
  width: 100%;
}

.ms-about-img img:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .ms-about-container {
    flex-direction: column-reverse;
    gap: 16px;
  }

  .ms-about-cnt {
    max-width: 100%;
  }

  .ms-about-img {
    max-width: 100%;
    display: flex;
    gap: 20px;
  }

  .ms-about-img img {
    width: calc(50% - 12px);
    margin-bottom: 0 !important;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
}

/* 8.0 - Skills
  ========================================================================== */
.ms-skills__title {
  width: 100%;
  text-align: center;
}

.ms-skills-cnt {
  display: flex;
  align-self: start;
  justify-content: space-between;
  gap: 30px;
}

.ms-skills-card {
  width: 100%;
  padding: 30px 33px;
  border: 2px solid #000;
  border-radius: 10px;
}

.ms-skills-card__title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.ms-skills-card-cnt:not(:last-child) {
  margin-bottom: 25px;
}

.ms-skills-card-cnt__title {
  font-size: 18px;
  margin-bottom: 12px;
}

.ms-skills-card-cnt-list {
  list-style-type: disc;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .ms-skills__title {
    text-align: left;
  }

  .ms-skills-cnt {
    flex-direction: column;
    gap: 16px;
  }

  .ms-skills-card {
    padding: 16px;
  }

  .ms-skills-card-cnt:not(:last-child) {
    margin-bottom: 16px;
  }
}

/* 9.0 - Work
  ========================================================================== */
.ms-work-ard {
  border: 2px solid #000;
  border-radius: 10px;
}

.ms-work-ard:not(:last-child) {
  margin-bottom: 30px;
}

.ms-work-ard__btn {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 30px;
  cursor: pointer;
}

.ms-work-ard__btn::before,
.ms-work-ard__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 5px;
}

.ms-work-ard__btn::after {
  transform: translateY(-50%) rotate(90deg);
}

.ms-work-ard__btn.active::after {
  display: none;
}

.ms-work-ard__btn-title {
  font-size: 30px;
  margin-bottom: 5px;
}

.ms-work-ard__btn-job {
  font-family: 'playfair', serif;
  font-size: 16px;
  font-weight: 600;
}

.ms-work-ard-cnt {
  height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
}

.ms-work-ard-cnt.active {
  padding: 0 30px 30px;
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.ms-work-ard-cnt__text {
  font-size: 16px;
  line-height: 20px;
}

.ms-work-ard-cnt__title {
  margin: 30px 0 20px;
  font-family: 'playfair', serif;
  font-weight: 900;
  font-size: 20px;
}

.ms-work-ard-cnt-list {
  list-style-type: disc;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .ms-work-ard:not(:last-child) {
    margin-bottom: 16px;
  }

  .ms-work-ard__btn {
    padding: 16px 40px 16px 16px;
  }

  .ms-work-ard__btn-title {
    font-size: 20px;
  }

  .ms-work-ard__btn::before, .ms-work-ard__btn::after {
    right: 16px;
  }

  .ms-work-ard-cnt.active {
    padding: 0 16px 16px;
  }
}

/* 10.0 - Contact
  ========================================================================== */
.ms-contact__title {
  font-size: 60px;
}

.ms-contact-social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.ms-contact-social-item__link {
  padding: 13px;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  transition: 0.25s ease-in-out;
}

@media screen and (min-width: 767px) {
  .ms-contact-social-item__link:hover {
    background-color: transparent;
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  .ms-contact__title {
    font-size: 32px;
  }
}